:root {
  --white: #ffffff;
  --gray: #888888;
  --starship: #cef343;
  --ecstasy: #f66f15;
  --blackA: 0, 0, 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to top right, var(--starship), var(--ecstasy));
}

.container {
  width: 70vw;
  text-align: center;
  font-size: 2vw;
}

button {
  margin-bottom: 1vw;
  color: var(--white);
  background-color: rgba(var(--blackA), 0.2);
  border: none;
  border-radius: 1vw;
  width: 15%;
  height: 3vw;
  cursor: pointer;
  font-size: 2vw;
}

button:hover {
  background-color: rgba(var(--blackA), 0.5);
}

button:disabled {
  background-color: var(--gray);
  cursor: default;
}

.timer {
  margin: 0 0 0 5vw;
  display: inline-block;
  width: 20%;
  line-height: 3vw;
  color: var(--white);
  background-color: rgba(var(--blackA), 0.2);
  border-radius: 1vw;
}

.clock {
  height: 10vw;
  margin: 1vw 0;
  color: var(--white);
  background-color: rgba(var(--blackA), 0.2);
}

.time {
  font-size: 8vw;
  line-height: 10vw;
}

.round-history {
  opacity: 0;
  height: 30vw;
  overflow: auto;
  color: var(--white);
  background-color: rgba(var(--blackA), 0.2);
}
